body {
    background: url('/images/background.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.main-box {
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border:3px solid #EFF2FB;
    padding: 10px;
    background: rgba(250, 250, 250, 0.9);
}

.right {
    float: right;
    margin-top: 10px;
}

.right-top {
    float: right;
    float: top;
    margin-top: -50px;
}

.track-list {
    font-size: 15px;
}

.artist {
    margin-left: 5px;
}
