<template name="playlists">
    <div class="greeting">{{ greeting }} {{ user_name }}</div>

    {{#if $.Session.get 'loadedPlaylists' }}
    <div class="info">You have {{ playlistCount }} playlists. Select a playlist you want to check for duplicates.</div>
      <ul class="list-group">
        {{# each playlists }}
          <li class="list-group-item">
                <div class="center-btn"><a class="btn btn-default btn-find-duplicates" href="{{pathFor 'duplicates' _id=this.id name=this.name}}">{{name}}</a></div>
                <div class="total-tracks">Total tracks: {{tracks.total}}</div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      {{>spinner}}
    {{/if}}
</template>
